<span class="float-left label-tipo tipopv-{{ item.puntodeventa|lower}}"><small>{{ item.puntodeventa}}</small></span>  <span class="float-right fa fa-star prioridad_{{ item.prioridad }}"></span>
     
     <span class="string clearfix" title="{{ item.descripcion }}"> {{ item.nombre }}</span>
    